@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');

* {
    margin: 0;


}


.html {
    background-color: #d3d3d3;
}

.container-input {
    position: relative;
}

.input {
    width: 150px;
    padding: 10px 0px 10px 40px;
    border-radius: 9999px;
    border: solid 1px #ffffff;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
}

.container-input svg {
    position: absolute;
    top: 50%;
    left: 10px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.input:focus {
    opacity: 1;
    width: 250px;
}

.logo-jki {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.nome-empresa {
    width: 40%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.menu {
    height: 130px;
    background-color: #252323;
    box-shadow: 0px 3px 10px #464646;
    font-family: 'inter', sans-serif;
}


.redes-sociais ul li {
    margin-left: 15px;
    display: inline-block;
    list-style: none;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {

    display: flex;
    align-items: center;
    justify-content: center;
}

.nome-empresa {

    font-family: sans-serif;
    color: aliceblue;
}

.nav-list {
    padding: 0, 5rem;
    height: 50px;
    background-color: #229b58;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-items: center;
    list-style: none;
}


.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 400;
}






.slider {

    margin: 0 auto;
    width: 650px;
    height: 300px;
    overflow: hidden;
    background-color: slategray;
}

.slides {

    width: 400%;
    height: 300px;
    display: flex;
}

.slides input {
    display: none;

}

.slide {

    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 100%;
    height: 300px;
}

.manual-navigation {
    position: absolute;
    width: 650px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    background-color: transparent;
}

.manual-btn {

    border: 2px solid #4e4c4c;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    background-color: transparent;

}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #fdfdfd;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -25%;
}

#radio3:checked~.first {

    margin-left: -50%;
}

#radio4:checked~.first {

    margin-left: -75%;
}

.navigation-auto div {

    margin-right: 150px;
    border: 2px solid #2b2b2b;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 260px;
    display: flex;
    justify-content: center;
    background-color: transparent;

}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background-color: rgb(255, 255, 255);
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background-color: rgb(255, 255, 255);
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background-color: rgb(255, 255, 255);
}

#radio4:checked~.navigation-auto .auto-btn4 {
    background-color: rgb(255, 255, 255);
}

button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #18a36b;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

button:active {
    transform: translateY(-1px);
}

.botao-login {
    display: flex;
    margin-left: 650px;
    color: #000;
}

.nav-footer-navigation__menu {
    height: 500px;
    list-style: none;
    justify-content: space-between;
    display: flex;
    align-items: end;
    width: 500px;
    background-color: #ffffff;
}

.nav-footer-secondaryinfo {
    text-align: center;
    color:#000

   
}

.container {

    display: flex;
    background-color: #fffafa;
    justify-content: space-around;
}

.img-1 {
    width: 300px;
    height: 200px;
}

.img-2 {
    width: 300px;
    height: 200px;
}

.img-3 {
    width: 300px;
    height: 200px;
}


.img-4 {
    width: 300px;
    height: 200px;
}

.mapa {
    text-align: center;
}

.endereço {
    text-align: center;
}

.rodapé {
    padding: 0, 5rem;
    height: 50px;
    background-color: #229b58;
    display: flex;
    justify-content: center;
    align-items:center;
}

.missao {
    text-align: center;
}

.redes-sociais{
    text-align: center;
    
}

.rodapé {
    position: absolute;
    bottom:0;
  width: 100%;
}